@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tags BD */

.Oracle {
  border: 2px solid rgb(198, 212, 6);
}
.Oracle:hover {
  background: rgba(198, 212, 6, 0.25);
}

.Oracle::after {
  content: ' Database';
}

.MongoDB {
  border: 0.1rem solid rgb(67, 153, 52);
}
.MongoDB:hover {
  background: rgba(67, 153, 52, 0.25);
}

.MySQL {
  border: 2px solid rgb(6, 182, 212);
}
.MySQL:hover {
  background: rgba(6, 182, 212, 0.25);
}

.SQLServer {
  border: 2px solid rgb(255, 65, 84);
}
.SQLServer:hover {
  background: rgba(255, 65, 84, 0.25);
}
/* Tags Lenguajes */
.react {
  border: 0.1rem solid rgb(97, 218, 251);
}
.react:hover {
  background: rgba(97, 218, 251, 0.25);
}

.Angular {
  border: 2px solid rgb(198, 212, 6);
}
.Angular:hover {
  background: rgba(198, 212, 6, 0.25);
}

.Javascript {
  border: 0.1rem solid rgb(251, 141, 97);
}
.Javascript:hover {
  background: rgba(251, 197, 97, 0.25);
}

.HTML {
  border: 2px solid rgb(198, 212, 6);
}
.HTML:hover {
  background: rgba(198, 212, 6, 0.25);
}

.GO {
  border: 0.1rem solid rgb(251, 141, 97);
}
.GO:hover {
  background: rgba(251, 197, 97, 0.25);
}

.Node {
  border: 0.1rem solid rgb(131, 205, 41);
}
.Node:hover {
  background: rgba(131, 205, 41, 0.25);
}

.Java7 {
  border: 0.1rem solid rgb(82, 143, 240);
}
.Java7:hover {
  background: rgba(82, 143, 240, 0.25);
}

.Java11 {
  border: 2px solid rgb(198, 212, 6);
}
.Java11:hover {
  background: rgba(198, 212, 6, 0.25);
}

.Java17 {
  border: 0.1rem solid rgb(97, 218, 251);
}
.Java17:hover {
  background: rgba(97, 218, 251, 0.25);
}

.Camel {
  border: 0.1rem solid rgb(251, 97, 251);
}
.Camel:hover {
  background: rgba(238, 97, 251, 0.25);
}
.Camel::before {
  content: 'Apache ';
}

.CSS3 {
  border: 2px solid rgb(0, 112, 243);
}
.CSS3:hover {
  background: rgba(0, 112, 243, 0.25);
}

.Vue {
  border: 2px solid rgb(0, 112, 243);
}
.Vue:hover {
  background: rgba(0, 112, 243, 0.25);
}

.NET {
  border: 2px solid rgb(255, 65, 84);
}
.NET:hover {
  background: rgba(255, 65, 84, 0.25);
}

.NET::before {
  content: "ASP.";
}

.c {
  border: 2px solid rgb(255, 65, 84);
}
.c:hover {
  background: rgba(255, 65, 84, 0.25);
}

.css-modules {
  border: 2px solid rgb(21, 114, 182);
}
.css-modules:hover {
  background: rgba(21, 114, 182, 0.25);
}

.CSharp {
  border: 0.1rem solid rgb(97, 218, 251);
}
.CSharp:hover {
  background: rgba(97, 218, 251, 0.25);
}

.Framework {
  border: 2px solid rgb(6, 182, 212);
}
.Framework:hover {
  background: rgba(6, 182, 212, 0.25);
}
.Framework::before {
  content: ".Net ";
}

/* Tags Despliegues */
.Docker {
  border: 0.1rem solid rgb(97, 218, 251);
}
.Docker:hover {
  background: rgba(97, 218, 251, 0.25);
}

.Kubernetes {
  border: 0.1rem solid rgb(251, 97, 251);
}
.Kubernetes:hover {
  background: rgba(238, 97, 251, 0.25);
}

.Openshift {
  border: 2px solid rgb(198, 212, 6);
}
.Openshift:hover {
  background: rgba(198, 212, 6, 0.25);
}

.Quarkus {
  border: 0.1rem solid rgb(97, 218, 251);
}
.Quarkus:hover {
  background: rgba(97, 218, 251, 0.25);
}

/* Gestion de proyectos Java */
.Maven {
  border: 0.1rem solid rgb(25, 118, 210);
}

.Maven:hover {
  background: rgba(25, 118, 210, 0.25);
}

.Maven::before {
  content: 'Apache ';
}


/* Tags Versionamiento */

.SVN {
  border: 0.1rem solid rgb(131, 205, 41);
}
.SVN:hover {
  background: rgba(131, 205, 41, 0.25);
}

.Git {
  border: 0.1rem solid rgb(118, 74, 188);
}
.Git:hover {
  background: rgba(118, 74, 188, 0.25);
}

/* Otros */
.KVM {
  border: 0.1rem solid rgb(251, 97, 251);
}
.KVM:hover {
  background: rgba(238, 97, 251, 0.25);
}


.REST {
  border: 0.1rem solid rgb(131, 205, 41);
}
.REST:hover {
  background: rgba(131, 205, 41, 0.25);
}
.REST::before {
  content: 'API ';
}
.redux {
  border: 0.1rem solid rgb(118, 74, 188);
}
.redux:hover {
  background: rgba(118, 74, 188, 0.25);
}

.Ansible {
  border: 0.1rem solid rgb(82, 143, 240);
}
.Ansible:hover {
  background: rgba(82, 143, 240, 0.25);
}

.material-ui {
  border: 0.1rem solid rgb(25, 118, 210);
}
.material-ui:hover {
  background: rgba(25, 118, 210, 0.25);
}

.SOAP {
  border: 0.1rem solid rgb(25, 118, 210);
}
.SOAP:hover {
  background: rgba(25, 118, 210, 0.25);
}
.SOAP::after {
  content: ' API';
}

.bulma {
  border: 0.1rem solid rgb(0, 209, 178);
}
.bulma:hover {
  background: rgb(0, 209, 178, 0.25);
}

.next {
  border: 2px solid rgb(0, 112, 243);
}
.next:hover {
  background: rgba(0, 112, 243, 0.25);
}

.Informix {
  border: 2px solid rgb(6, 182, 212);
}
.Informix:hover {
  background: rgba(6, 182, 212, 0.25);
}

.Python {
  border: 2px solid rgb(198, 212, 6);
}
.Python:hover {
  background: rgba(198, 212, 6, 0.25);
}

.react-query {
  border: 2px solid rgb(255, 65, 84);
}
.react-query:hover {
  background: rgba(255, 65, 84, 0.25);
}
