.code {
  counter-reset: line;
  font-size: 1.2rem;
  line-height: 2rem;
}

.line::before {
  content: counter(line);
  counter-increment: line;
  margin-right: 1rem;
  color: grey;
}

.code a {
  color: var(--accent-color);
  text-decoration: none;
}

.code a:hover {
  text-decoration: underline;
}

.className {
  color: var(--accent-color);
}
.indent{
  margin-left: 20px;
}

.doubleIndent{
  margin-left: 50px;
}
.doubleIndentNine{
  margin-left: 40px;
}
@media screen and (max-width: 800px) {
  .code {
    font-size: 0.65rem;
    line-height: 1.5rem;
  }
  .indent{
    margin-left: 10px;
  }
  .doubleIndent{
    margin-left: 30px;
  }
  .doubleIndentNine{
    margin-left: 20px;
  }
}

@media screen and (max-width: 400px) {
  .indent{
    margin-left: 5px;
  }
  .doubleIndent{
    margin-left: 15px;
  }
  .doubleIndentNine{
    margin-left: 10px;
  }
}
